#O-container {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

#O-outer-container {
    margin: 10px;
}

.O-b-header p {
    color: rgb(24 24 24);
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
}

#O-section1 {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.O-list {
    display: flex;
    flex-direction: column;
}

.O-list {
    margin: 0;
    padding: 0;
}

.O-color1 {
    background-color: #43a742;
}

.O-color2 {
    background-color: #97c996;
}

#O-section2 {
    background-image: url(offer.jpg);
}

#O-search {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.O-button {
    width: 250px;
    margin-bottom: 5px;
}

.O-b-header h3 {
    color: rgb(24 24 24);
    text-align: center;
}