body {
  background-color: #f3f8f2;
  font-size: 20px;
  color: rgb(245 245 245);
}

.A-header {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(30 30 30);
  padding: 0;
}

.A-header h1 {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 24px;
}

ul.A-header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.A-header li a {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 17px;
  display: inline-block;
}


.content {
  margin-top: 0;
  width: 100%;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #8ecf95;
  color: rgb(30 30 30);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.Footer {
  margin-top: auto;
  font-size: 15px;
  text-align: center;
  background-color: rgb(30 30 30);
}



